*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
application/config/database.php
application/config/config.php
.idea/workspace.xml
.idea/webdev2015.iml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/.name
application/config/config.php

application/config/config.php
