.infobulle {
    font-style: italic;
    color: cadetblue;
}



/*--------------------JEREMY----------------------------------------------------*/
.jeremy .avancement {border: solid 1px silver;padding:5%;margin-top:2%;margin-bottom:2%;}
.jeremy .borderCourses{border: solid 1px silver;margin-top:2%;}
.jeremy .avancement h4{text-decoration:underline;}
.jeremy .arrowToModif{margin-top:10%;}
/*--------------------FIN-JEREMY----------------------------------------------------*/
/*--------------------Quentin----------------------------------------------------*/
    /*NAVBAR*/
.navbar{
    margin-bottom: 25px;
}
.navbar img{
    width: auto;
    height: 45px;
}

.navbar-brand{
    padding-top: 2px!important;
    padding-bottom: 0px!important;
}
.menu{
    font-size: 16px;
    font-family: 'Bree Serif', serif;
}
.menu ul li ul li{
    font-size: 16px;
}
.menu i.fa-navicon{
    font-size: 18px;
    margin-right: 5px;
}

.menu div.form-group{
    margin-right: 50px;
}
    /*NAVBAR*/
    /*TABLEAU CHAPITRE*/
div.panel-default{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
table.chapter td{
    width: 45%;
    border-bottom: solid 1px gainsboro;
}

table.chapter td:first-child{
    width: 10%;
}

table.chapter td:last-child{
    text-align: right;
}

table.chapter td p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

table.chapter td a{
    margin-top: 5px;
    margin-right: 5px;
}
    /*TABLEAU CHAPITRE*/
/*--------------------FIN-quentin----------------------------------------------------*/