.infobulle {
    font-style: italic;
    color: cadetblue;
}



/*--------------------JEREMY----------------------------------------------------*/
.jeremy .avancement {border: solid 1px silver;padding:5%;margin-top:2%;margin-bottom:2%;}
.jeremy .borderCourses{border: solid 1px silver;margin-top:2%;}
.jeremy .avancement h4{text-decoration:underline;}
.jeremy .arrowToModif{margin-top:10%;}
/*--------------------FIN-JEREMY----------------------------------------------------*/
/*--------------------Quentin----------------------------------------------------*/
.navbar img{
    width: auto;
    height: 50px;
}

.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu{
    font-size: 16px;
    font-family: 'Bree Serif', serif;
}
.menu ul li ul li{
    font-size: 16px;
}
.menu i.fa-navicon{
    font-size: 18px;
    margin-right: 5px;
}

.menu div.form-group{
    margin-right: 50px;
}

table.chapter td{
    padding: 0 0 0 10px!important;
}

table.chapter td p{
    margin-top: 10px;
    margin-bottom: 10px;
}

table.chapter td a{
    margin-top: 5px;
    margin-bottom: 5px;
}
/*--------------------FIN-quentin----------------------------------------------------*/